<?xml version="1.0"?>
<!--
/**
 * MageUp Navigation module
 *
 * @category    MageUp
 * @package     MageUp_Navigation
 * @copyright   Copyright (c) 2013 MageUp (http://www.mageup.com)
 * @license     http://www.gnu.org/licenses/gpl.html  Open Source GPL 3.0 license
 */
 -->
<config>
    <modules>
        <MageUp_Navigation>
            <version>0.2.0</version>
        </MageUp_Navigation>
    </modules>
    <global>
        <models>
            <mageup_nav>
                <class>MageUp_Navigation_Model</class>
                <resourceModel>mageup_nav_resource</resourceModel>
            </mageup_nav>
            <mageup_nav_resource>
                <class>MageUp_Navigation_Model_Resource</class>
                <entities>
                    <menuitem>
                        <table>mageup_navigation_menuitem</table>
                    </menuitem>
                    <menuitem_store>
                        <table>mageup_navigation_menuitem_store</table>
                    </menuitem_store>
                </entities>
            </mageup_nav_resource>
        </models>
        <helpers>
            <mageup_nav>
                <class>MageUp_Navigation_Helper</class>
            </mageup_nav>
        </helpers>
        <resources>
            <mageup_nav_setup>
                <setup>
                    <module>MageUp_Navigation</module>
                </setup>
            </mageup_nav_setup>
        </resources>
        <blocks>
            <mageup_nav><class>MageUp_Navigation_Block</class></mageup_nav>
        </blocks>
    </global>
    <frontend>
        <routers>
            <mageup_nav>
                <use>standard</use>
                <args>
                    <module>MageUp_Navigation</module>
                    <frontName>mageup_nav</frontName>
                </args>
            </mageup_nav>
        </routers>
        <translate>
            <modules>
                <MageUp_Navigation>
                    <files>
                        <default>MageUp_Navigation.csv</default>
                    </files>
                </MageUp_Navigation>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageup_nav>
                    <file>mageup/nav.xml</file>
                </mageup_nav>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageup_nav after="Mage_Adminhtml">MageUp_Navigation</mageup_nav>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MageUp_Navigation>
                    <files>
                        <default>MageUp_Navigation.csv</default>
                    </files>
                </MageUp_Navigation>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageup_nav>
                    <file>mageup/nav.xml</file>
                </mageup_nav>
            </updates>
        </layout>
    </adminhtml>
</config>
